nav img {
    margin:0 auto;
}


h1{
    font-size: 3.5em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.gshadow{
    box-shadow: 10px 7px; 
    color: #A8FF00;
}

p{
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5em;
}

p.green{
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #A8FF00;
    font-style: italic;
    display: inline-block;
}

p.byline{
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    color: #8e8e8e;
}