h1{
    font-size: 3.9em;
    text-transform: uppercase;
    color:black;
    padding: 0;
    text-align: center;
    background-color: rgb(183, 200, 238);
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

p{
    font-family: 'Arvo', serif; 
    text-align: left; 
}

h5{
    font-size: 2.5em;
    text-transform: uppercase;
    color:#e7882e;
    text-align: center;  
}

h6{
    font-size: 2.5em;
    text-transform: uppercase;
    color:#121944; 
    text-align: center;  
}

h4{
    font-size: 2.5em;
    text-transform: uppercase;
    color:#e01515;
    text-align: center;   
}

img.degrompic{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: 150px;
}

img.degrom{
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: 150px;
}

img.gerritcolepic{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: 150px;
}

img.gerritcole{
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: 150px;
}

img.maxscherzerpic{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: 150px;
}

img.maxscherzer{
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: 150px;
}

h8{
    font-size: 1.5em;
    font-weight: bold;
}

.data h2{
    font-weight: bold;
    font-size: 2.0em;
}

.data p,
.data i{
    font-size: 1.0em;
}
